<h1>{{theExercise.name}} DETAILS</h1>
<div>
    <ul>
        <li>Body Part: {{theExercise.bodyPart}}</li>
        <li>Muscles Involved: {{theExercise.target}}</li>
        <li>Equipment: {{theExercise.equipment}}</li>
    </ul>
</div>
<div>
    <img src="{{theExercise.gifUrl}}" alt="">
</div>