<section class="timer-section">
    <h1>{{theWod.name}} : <i>{{theWod.duration}} min</i></h1>
    <div class="wod-detail-container timer-exercises">
        {{#each theWod.exercises}}
        <a class='timer-links' href="/exercise/{{this._id}}">
            <li><span>{{getmyvalue ../reps @index}} | <span></span>{{this.name}}</li>
        </a>
        {{/each}}

    </div>
    <a href="javascript:history.back()">
        <- GO BACK </a>
            <hr>
            <section id="splits-container">
                <h3>exercises - SPLITS</h3>
                <ol id="splits"></ol>
            </section>

            <section id="clock">
                <div id="sphere">
                    <span id="minDec" class="number">0</span>
                    <span id="minUni" class="number">0</span>
                    <span>:</span>
                    <span id="secDec" class="number">0</span>
                    <span id="secUni" class="number">0</span>
                    <div id="milliseconds">
                        <span id="milDec">0</span>
                        <span id="milUni">0</span>
                    </div>
                    <button id="btnLeft" class="timer-btn start">START</button>
                    <button id="btnRight" class="timer-btn reset">RESET</button>
                </div>
                <div class="spotify">
                    <a href="https://open.spotify.com/playlist/3CmgVHBPysI8GTw4TUixly" target="_blank"><img
                            src="/images/spotify.png" alt=""></a>
                </div>
                <div class="music-links">
                    <a id="rap" class="music-btn"><img src="/images/rap.png" alt=""></a>
                    <a id="jazz" class="music-btn"><img src="/images/jazz.png" alt=""></a>
                    <a id="hard" class="music-btn"><img src="/images/hard.png" alt=""></a>
                    <a id="techno" class="music-btn"><img src="/images/techno.png" alt=""></a>
                </div>
            </section>
            <script src="/js/chronometer.js"></script>
            <script src="/js/timer.js"></script>
</section>