<section class="wod-form-section">
    <h1>CREATE YOUR WOD</h1>
    <form method="POST" action="/wod/create">
        <div class="wod-form-container">
            <label class="form-label">1 - Choose a cool name:</label>
            <br>
            <input class="form-control-create" type="text" name="name">
        </div>
        <div class="wod-form-container checkbox">
            <label class="form-label">2 - Environement:</label>
            <br>
            <input type="radio" id="outside" name="environement" value="Outside">
            <label for="environement"> Outside</label>
            <br>
            <input type="radio" id="inside" name="environement" value="Inside">
            <label for="environement">Inside</label>
        </div>
        <div class="wod-form-container">
            <label class="form-label">3 - How many rounds:</label>
            <select name="rounds" id="rounds">
                <option>Rounds</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>
        </div>
        <div class="wod-form-container">
            <label class="form-label">4 - For how long:</label>
            <select name="duration" id="duration">
                <option>Min</option>
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="15">15</option>
                <option value="20">20</option>
                <option value="25">25</option>
                <option value="30">30</option>
                <option value="35">35</option>
                <option value="40">40</option>
                <option value="45">45</option>
                <option value="50">50</option>
                <option value="45">55</option>
                <option value="50">60</option>
            </select>
        </div>
        <div class="wod-form-container">
            <label for='intensity' class="form-label">5 - How hard:</label>
            <select name="intensity">
                <option>Level</option>
                <option>Easy</option>
                <option>Medium</option>
                <option>Hard</option>
                <option>Insane</option>
            </select>
        </div>
        <hr>
        <p>Select your exercises:</p>
        <select name="exercises">
            <option value="">Select your first exercise</option>
            {{#each allExercises}}
            <option value="{{this._id}}">{{this.name}}</option>
            {{/each}}
        </select>
        <span>-</span>
        <select name="ex1reps" id="duration">
            <option>Reps</option>
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="20">20</option>
            <option value="25">25</option>
            <option value="30">30</option>
        </select>
        <br>
        <select name="exercises">
            <option value="">Select your second exercise</option>
            {{#each allExercises}}
            <option value="{{this._id}}">{{this.name}}</option>
            {{/each}}
        </select>
        <span>-</span>
        <select name="ex2reps" id="duration">
            <option>Reps</option>
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="20">20</option>
            <option value="25">25</option>
            <option value="30">30</option>
        </select>
        <br>
        <select name="exercises">
            <option value="">Let's add a third</option>
            {{#each allExercises}}
            <option value="{{this._id}}">{{this.name}}</option>
            {{/each}}
        </select>
        <span>-</span>
        <select name="ex3reps" id="duration">
            <option>Reps</option>
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="20">20</option>
            <option value="25">25</option>
            <option value="30">30</option>
        </select>
        <br>
        <select name="exercises">
            <option value="">Come on you can do better than 3</option>
            {{#each allExercises}}
            <option value="{{this._id}}">{{this.name}}</option>
            {{/each}}
        </select>
        <span>-</span>
        <select name="ex4reps" id="duration">
            <option>Reps</option>
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="20">20</option>
            <option value="25">25</option>
            <option value="30">30</option>
        </select>
        <br>
        <select name="exercises">
            <option value="">OK! One last one for the fun</option>
            {{#each allExercises}}
            <option value="{{this._id}}">{{this.name}}</option>
            {{/each}}
        </select>
        <span>-</span>
        <select name="ex5reps" id="duration">
            <option>Reps</option>
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="20">20</option>
            <option value="25">25</option>
            <option value="30">30</option>
        </select>
        <div class="create-wod-btn">
            <button class="create-btn" type="submit">CREATE WOD</button>
        </div>
    </form>
</section>