{{!-- header for authorised users --}}
<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="collapse navbar-collapse" id="navbarNav">
    <a class="navbar-brand" href="/welcome">
      Wod[i]Wodpicker
    </a>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/wod">Your WODs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/wod/create">Create one</a>
      </li>
    </ul>

  </div>
  <span class="navbar-text">
    <a href="/profile">Profile</a> | <a href="/logout">Logout</a>
  </span>
  </nav> -->

<section id="exercise-details-section">
  <h1>{{theExercise.name}} DETAILS</h1>
  <div class="exercice-detail">
    <img src="{{theExercise.gifUrl}}" alt="">
    <ul>
      <li>Body Part<span>-</span> <span>{{theExercise.bodyPart}}</span></li>
      <br>
      <li>Muscles<span>-</span><span>{{theExercise.target}}</span></li>
      <br>
      <li>Equipment<span>-</span><span>{{theExercise.equipment}}</span></li>
    </ul>
  </div>
  <h6 class="go-back">
    <a href="javascript:history.back()">
      <- GO BACK</a>
  </h6>
</section>