<h1>{{theExercise.name}} DETAILS</h1>
<div class="exercice-detail">
    <img src="{{theExercise.gifUrl}}" alt="">
    <ul>
        <li>Body Part: {{theExercise.bodyPart}}</li>
        <br>
        <li>Muscles Involved: {{theExercise.target}}</li>
        <br>
        <li>Equipment: {{theExercise.equipment}}</li>
    </ul>
</div>
<h6 class="go-back">
    <a href="/exercise">
        <- GO BACK</a>
</h6>