<section id="exercise-details-section">
    <h1>{{theExercise.name}} DETAILS</h1>
    <div class="exercice-detail">
        <img src="{{theExercise.gifUrl}}" alt="">
        <ul>
            <li>Body Part<span>-</span> <span>{{theExercise.bodyPart}}</span></li>
            <br>
            <li>Muscles<span>-</span><span>{{theExercise.target}}</span></li>
            <br>
            <li>Equipment<span>-</span><span>{{theExercise.equipment}}</span></li>
        </ul>
    </div>
    <h6 class="go-back">
        <a href="javascript:history.back()">
            <- GO BACK</a>
    </h6>
</section>